<div>

    <pre>
        {{ JSON.stringify(state, undefined, 2) }}
    </pre>

    <sly-field title="Select Tags that should be unpacked">
        <sly-select-tag :project-id="context.projectId" :tags.sync="state.tags"
                        :options="{'multiple': true, 'showLabel': false, 'availableValueTypes': ['any_string', 'oneof_string']}"></sly-select-tag>
    </sly-field>
    <sly-field title="Choose whether to keep or remove original tags after unpacking">
        <el-select v-model="state.keepTags">
            <el-option key="keep" label="Keep original tags" value="keep"></el-option>
            <el-option key="remove" label="Remove original tags" value="remove"></el-option>
        </el-select>
    </sly-field>
    <sly-field title="Result project name"
               description="New project with this name will be created">
        <el-input v-model="state.inputProjectName"></el-input>
    </sly-field>
</div>
